@{
    Injector.ScriptFile("~/Scripts/jquery-1.5.1.min.js");
    Injector.ScriptFile("~/Scripts/modernizr-1.7.min.js");
    Injector.StyleFile("~/Content/Site.css");
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <meta charset="utf-8" />
   @Injector.InjectionPoint("MetaTags")
   @Injector.InjectionPoint("StyleFiles")
   @Injector.InjectionPoint("ScriptFiles")
</head>

<body>
    @Injector.InjectionPoint("ScriptBlocks", "Upper")
    @RenderBody()
    @Injector.InjectionPoint("ScriptBlocks", "Lower")
</body>
</html>
